In [59]:
"""
Code to generate plots related to generic optimization problem experiments.

"""
from helpers import get_abspath, save_dataset
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('agg')
import seaborn as sns
import matplotlib.pyplot as plt

opt = 'TSP'
outdir = 'results/OPT/{}'.format(opt)  # get results directory
f = get_abspath('RHC_results.csv', outdir)  # get output filename
df = pd.read_csv(f)
df.groupby('iterations').max().tail()

             fitness  time    fevals  trial
iterations
4960        0.066531  4961  0.138669     19
4970        0.066531  4971  0.138806     19
4980        0.066531  4981  0.138944     19
4990        0.066531  4991  0.139092     19
5000        0.066531  5001  0.139260     19

In [61]:
opt = 'FF'
outdir = 'results/OPT/{}'.format(opt)  # get results directory
f = get_abspath('RHC_results.csv', outdir)  # get output filename
df = pd.read_csv(f)
df.groupby('iterations').mean().tail()

            fitness    time    fevals  trial
iterations
4960         800.55  4961.0  0.029618    9.5
4970         800.65  4971.0  0.029665    9.5
4980         800.85  4981.0  0.029712    9.5
4990         801.05  4991.0  0.029759    9.5
5000         801.05  5001.0  0.029806    9.5

In [66]:
opt = 'CP'
outdir = 'results/OPT/{}'.format(opt)  # get results directory
f = get_abspath('RHC_results.csv', outdir)  # get output filename
df = pd.read_csv(f)
df.groupby('iterations').mean().tail()

            fitness    time    fevals  trial
iterations
2960          55.25  2961.0  0.015151    9.5
2970          55.30  2971.0  0.015190    9.5
2980          55.30  2981.0  0.015230    9.5
2990          55.50  2991.0  0.015270    9.5
3000          55.55  3001.0  0.015320    9.5